[Unit]
  Description=Nemoi STT (for Telegram)

[Service]
  WorkingDirectory=<path to venv>/Nemoi
  ExecStart=<path to venv>/bin/python main.py
  Type=simple

[Install]
  WantedBy=multi-user.target
